<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script src="../../static/goodStudy.js" type="text/javascript"></script>
    <style type="text/css">
        .day_wallpaper {
            background: url("../../static/wallpaper/Home_fj1.jfif") no-repeat;
            background-size: 100%;
            overflow: hidden;
        }

        .day_goodStudy {
            padding: 0px;
            text-align: center;
            background-color: #F69;

            display: table-cell;
            vertical-align: middle
        }
    </style>
    <script>
        function getDayStudy() {
            // goodStudy
            let random = Math.floor(Math.random() * 3);
            let typeLength = goodStudy[random].length;
            document.getElementsByClassName("day_goodStudy")[0].innerText
                = goodStudy[random][Math.floor(Math.random() * typeLength)];
        }
    </script>
</head>
<body class="day_wallpaper" id="wallpaper" onclick="getDayStudy()">
<p class="day_goodStudy" th:text='${good_good_study}'></p>
</body>
</html>